---
interface Props {
  title: string;
  category: string;
  date: string;
  image: string;
  description: string;
}

const { title, category, date, image, description } = Astro.props;
---

<li class="blog-post-item">
  <a href="#">
    <figure class="blog-banner-box">
      <img src={image || "/placeholder.svg"} alt={title} loading="lazy" />
    </figure>

    <div class="blog-content">
      <div class="blog-meta">
        <p class="blog-category">{category}</p>
        <span class="dot"></span>
        <time datetime={date}
          >{
            new Date(date).toLocaleDateString("en-US", {
              month: "short",
              day: "numeric",
              year: "numeric",
            })
          }</time
        >
      </div>

      <h3 class="h3 blog-item-title">{title}</h3>
      <p class="blog-text">{description}</p>
    </div>
  </a>
</li>
