---
import ContactItem from "@components/ContactItem.astro";
import SocialItem from "@components/SocialItem.astro";
import { profile } from '../config';

const contacts = profile.contacts
const socialLinks = profile.socials
---

<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src={profile.avatar} alt={profile.name} width="80" />
    </figure>

    <div class="info-content">
      <h1 class="name" title={profile.name}>{profile.name}</h1>
      <p class="title">{profile.job}</p>
      <!-- <p class="quote">Be the change you want to see in the world</p> -->
    </div>

    <button class="info_more-btn" type="button" aria-expanded="false" data-sidebar-btn>
      <span>Show Contacts</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>

    <ul class="contacts-list">
      {contacts.map((contact) => <ContactItem {...contact} />)}
    </ul>

    <div class="separator"></div>

    <ul class="social-list">
      {socialLinks.map((social) => <SocialItem {...social} />)}
    </ul>
  </div>
</aside>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const sidebar = document.querySelector("[data-sidebar]");
    const sidebarBtn = document.querySelector("[data-sidebar-btn]");

    if (!sidebar || !sidebarBtn) return;

    sidebarBtn.addEventListener("click", function () {
      sidebar.classList.toggle("active");
      const isExpanded = sidebar.classList.contains("active");
      sidebarBtn.setAttribute("aria-expanded", String(isExpanded));
    });
  });
</script>
