---
import { formatTimelineDateRange } from '@lib/timeline-date';
import type { TimelineDateRange } from '@types/profile';

interface TimelineItem {
  title: string;
  date: TimelineDateRange;
  description: string;
}

interface Props {
  title: string;
  icon: string;
  items: TimelineItem[];
}

const { title, icon, items } = Astro.props;
---

<section class="timeline">
  <div class="title-wrapper">
    <div class="icon-box">
      <ion-icon name={icon}></ion-icon>
    </div>
    <h3 class="h3">{title}</h3>
  </div>
  <ol class="timeline-list">
    {items.map(item => (
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">{item.title}</h4>
        <span class="timeline-date">{formatTimelineDateRange(item.date)}</span>
        <p class="timeline-text">{item.description}</p>
      </li>
    ))}
  </ol>
</section>
